html, body {
    margin: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    /* background: rgb(245, 245, 245); */
    --section-top-bottom-padding: 250px;
}

/* Tablet */
@media screen
    and (max-width: 768px){

}

/* Phone */
@media screen
    and (max-width: 425px){

}

@media screen
    and (min-width: 376px) and (max-width: 425px){

}

@media screen
    and (min-width: 321px) and (max-width: 375px){

}

@media screen
    and (max-width: 320px){

}