html, body {
    margin: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    /* background: rgb(245, 245, 245); */
    --section-top-bottom-padding: 250px;
}

.portfolio{
    --bg: none;
    --row-repeat: 3;
    /* --row-repeat-size: 20%; */
    --grid-item-1: 1/2/2/3;
    --grid-item-2: 2/2/3/3;
    --grid-item-3: 3/2/4/3;
    --grid-item-4: 5/2/6/3;
    text-align: center;
    /* margin-top: 80px; */
    /* color: white; */
    background-color: white;
}

.portfolio-title{
    text-align: left;
    background: rgb(156, 168, 184);
    /* background-color: #F4B10B; */
    /* background-color: #F4610B; */
    background-color: #1351A0;
    padding: 50px 0;
    color: white;
}

.portfolio-title h2{
    font-size: 2em;
}


@media screen and (max-width: 768px){
    .portfolio-title{
        padding: 0;
    }
}