:root{
    /* General settings */
    --bg-color: red;
    --button-bg-color: rgba(128, 128, 128, 0.295);
    --border-color: red;
    --text-color: black;
    --link-color: black;
    --link-decoration: none;

    /* size settings */
    --height: auto;
    --width: 100%;
    
    /* fonts */
    --font-family: Arial, Times;
    --font-size: 16px;

    /* layout/grid variables */
    --col-repeat: 1;
    --col-repeat-size: 1fr;
    --row-repeat: 1;
    --row-repeat-size: auto;
    --col-gap: 0;
    --row-gap: 0;

    /* padding */
    --section-top-bottom-padding: 0;
    --section-side-padding: 0;

    --grid-side-padding: 10%;
    --grid-top-bottom-padding: 0;
    
    /*  */
}

/* General css code */
html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: var(--text-color);
    /* font-size: var(--font-size); Should I? */
}

section{
    padding: var(--section-top-bottom-padding) var(--section-side-padding);
}

a{ 
    color: var(--link-color);
    text-decoration: var(--link-decoration);
}

/* Grid layout code */
.grid{
    height: var(--height);
    width: var(--width);
    background-color: var(--bg-color, red);
    
    /* Use row padding? */
    display: grid;
    grid-template-columns: [grid-col-start] var(--grid-side-padding) [col-start] repeat(var(--col-repeat), [col] var(--col-repeat-size)) [col-end] var(--grid-side-padding) [grid-col-end];
    grid-template-rows: [grid-row-start] repeat(var(--row-repeat), [row] var(--row-repeat-size)) [grid-row-end];
    grid-column-gap: var(--col-gap, 0);
    grid-row-gap: var(--row-gap, 0);
}

.grid-item-1{
    grid-area: var(--grid-item-1);
}

.grid-item-2{
    grid-area: var(--grid-item-2);
}

.grid-item-3{
    grid-area: var(--grid-item-3);
}

.grid-item-4{
    grid-area: var(--grid-item-4);
}

.grid-item-5{
    grid-area: var(--grid-item-5);
}

.grid-item-6{
    grid-area: var(--grid-item-6);
}

.grid-item-7{
    grid-area: var(--grid-item-7);
}

.grid-item-8{
    grid-area: var(--grid-item-8);
}

.grid-item-9{
    grid-area: var(--grid-item-8);
}

.grid-item-10{
    grid-area: var(--grid-item-8);
}

.grid-item-11{
    grid-area: var(--grid-item-8);
}

.grid-item-12{
    grid-area: var(--grid-item-8);
}

/* The class that will implement this class */
/* 
.place-class-name-here{
    --height: 0;
    --width: 0;
    --bg-color: red;

    --col-repeat: 0;
    --col-repeat-size: 0;

    --row-repeat: 0;
    --row-repeat-size: 0;

    --grid-side-padding: 0;
    --grid-top-padding: 0;
    --grid-bottom-padding: 0;

    --col-gap: 0;
    --row-gap: 0;
    
    --grid-item-1: 1 / 2 / 2 / 4;
    --grid-item-2: 2 / 2 / 3 / 3;
    --grid-item-3: 2 / 3 / 3 / 4;
    --grid-item-4: 3 / 2 / 4 / 3;
    --grid-item-5: 3 / 3 / 4 / 4;
    --grid-item-6: 4 / 2 / 5 / 3;
    --grid-item-7: 4 / 3 / 5 / 4;
    --grid-item-8: 4 / 3 / 5 / 4;
    --grid-item-9: 4 / 3 / 5 / 4;
    --grid-item-10: 4 / 3 / 5 / 4;
    --grid-item-11: 4 / 3 / 5 / 4;
    --grid-item-12: 4 / 3 / 5 / 4;
    
} 
*/
