body {
    background: grey;
}

main {
    background: rgb(194, 194, 194);
    width: 80%;
    margin: auto;
    padding-bottom: 15px;
    border: 1px solid white;
    box-shadow: 0 10px 15px black;
}

main > div {
    width: 80%;
    margin: auto;
}

#img-div {
    width: 100%;
}

#image{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

#img-div figure {
    margin: 0 auto;
    width: fit-content;
    background: white;
    border: 1px solid gray;
}

#title {
    text-align: center;
}